@import "tailwindcss";
.card {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100px;
    height: 100px;
}
.maincard{
    @apply flex gap-5 md:gap-10 flex-col md:flex-row bg-blue-400 md:bg-transparent p-2 rounded-2xl shadow-md md:shadow-none shadow-black/20;
}
.imgcard{
    @apply bg-white border-2 border-blue-500 rounded-xl p-4 flex items-center justify-center w-full md:w-[125px];
}